{% extends "base/base.html" %}

{% block extra_style %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'form/style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Stint+Ultra+Expanded&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}Sign Up{% endblock %}

{% block content %}
	<!--Import Form content-->
	{% include "form/form.html" %}
{% endblock %}
	

