*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

#header{
    height: 100vh;
    width: 100%;
    background-image: url(../images/homepagegluco.jpg);
    background-position:center;
    background-size: cover;
}

.navbar{
    width: 70%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    width: 200px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    position: relative;
    
    
}

.navbar ul li a{
    text-decoration: none;
    color: #262261;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}


.navbar ul li::after{
    content: '';
    height: 1px;
    width: 0%;
    background: #8cc63e;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
     
}

.navbar ul li:hover::after{
    width: 100%;
}

/*Content 1*/
.header-text{
    width: 100%;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    text-align: left;
    margin-left: 100px;
    
}
.title{
    font-size: 30px;
    line-height: 150px;
    font-weight: bold;
    height: 100px;
    color: #262261;
    font-family: 'Nixie One', cursive;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: left;
    overflow: hidden;
}


.slider{
    color: #f67c92;

    margin-top: 180px;
    margin-left: 10px;
    line-height: 150px;
    animation: slider 6s linear infinite;
}


@keyframes slider{
    0%{ margin-top: -450px; }
    5%{ margin-top: -300px; }
    30%{ margin-top: -300px; }
    35%{ margin-top: -150px; }
    65%{ margin-top: -150px; }
    70%{ margin-top: 0px; }
    100%{ margin-top: 0px; }
}

.header-text p{
    max-width: 400px;
    margin: 20px;
    
    line-height: 25px;
    font-size: 22px;
    color: #262261 
    
}

.common-btn{
    padding: 10px 40px;
    margin: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 20em;
    border: 2px solid #000;
    color: #262261;
    cursor: pointer;
    background: linear-gradient(to left,  #f67c92 50% ,transparent 50%);
    background-size: 200%;
    background-position: right;
    transition: background-position 0.5s;
}
.common-btn:hover{
    background-position:left;
    color: #000;
}
/*End content 1*/

/*------about--------*/

#about{
    padding: 100px;
    display: flex;
    align-items: right;
    flex-wrap: wrap;
    color: #262261;
    font-family: 'Nixie One', cursive;
}

.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 100%;
}

.about-right-col{
    flex-basis: 50%;
    text-align: right;
}

.about-text{
    max-width: 400px;
    margin-right: 100px;
    display: inline-block;
}
/*End content 2*/

/*Footer*/
/*------footer--------*/

#footer{
    padding: 50px 0 50px;
    margin-right: 80px;
    margin-left: 80px;
}
.container.footer-row hr{
    width: 100%;
    border: 0;
    border-top: 1px solid #262261;
}

.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left-col{
    flex-basis: 55%;
    font-size: 15px;
}

.footer-right-col{
    flex-basis: 0%;
    
}

.footer-logo{
    width: 200px;
    cursor: pointer;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-title h4 a{
    color: #fab3c4;
	text-decoration: none;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
	font-size: 18px;
}
.link-title h4{
    color: #fab3c4;
	text-decoration: none;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
	font-size: 18px;
}

.link-title small a {
    font-size: 15px;
	text-decoration: none;
    color:cornflowerblue;
    font-family: 'Quicksand', sans-serif;
}

.link-title small{
    font-size: 15px;
    text-decoration: none;
    color:cornflowerblue;
    font-family: 'Quicksand', sans-serif;
}
/*End footer*/