<html>
<head>
	{% block style %}
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">
	{% endblock %}
	
	{% block extra_style %}
	{% endblock %}
	
	<title>{% block title %}BASE{% endblock %}</title>
</head>
<body>
	<!--Navigation Bar-->
	{% block header %}
		<div class="header">
			<p>GlucoCheck</p>
			<i>some slogan here w/ extra styling</i>
			<!--Nav Items-->
			<ul>
				{% if active == 'Login' %}
					<li><a class='active' href="{% url 'login' %}">{{account_nav}}</a></li> <!--Either "Welcome username" or "Sign-In/Up" depending on if the user is signed in-->
				{% else %}
					<li><a href="{% url 'login' %}">{{account_nav}}</a></li> <!--Either "Welcome username" or "Sign-In/Up" depending on if the user is signed in-->
				{% endif %}
				{% if account_nav != "Login" and account_nav != "Sign-Up" %}
				{% if active == 'Dashboard' %}
					<li><a class='active' href="#dashboard">Dashboard</a></li>
				{% else %}
					<li><a href="#dashboard">Dashboard</a></li>
				{% endif %}
				{% endif %}
				
				{% if active == 'Home' %}
					<li><a class="active" href="{% url 'homepage' %}">Home</a></li>
				{% else %}
					<li><a href="{% url 'homepage' %}">Home</a></li>
				{% endif %}
			</ul>
		</div>
	{% endblock %}
	
	<div id="spacer_top">
	</div>
	<!--Content-->
	<div id="content">
	{% block content %}
	{% endblock %}
	</div>
	<div id="spacer_bottom">
	</div>
	
	<!--Footer-->
	{% block footer %}
		<div class="footer">
			<div class="column">
				<h2>Learn More</h2>
				<ul>
					<li><a href="#tutorial">Getting Started</a></li>
					<li><a href="#legal_disclaimer">Legal Disclaimer</a></li>
				</ul>
			</div>
			<div class="column">
				<h2>Contact Us</h2>
				<ul>
					<li><a href="#support">Customer Support</a></li>
					<li><a href="#bug_report">Report a Bug(will prob just be bundled with customer support)</a></li>
				</ul>
			</div>
			<p>GlucoCheck</p>
			<i>© 2021-2025 GlucoCheck Development Team and individual contributors. GlucoCheck is a registered trademark of the GlucoCheck Development Team.</i>
		</div>
	{% endblock %}
</body>
<script>
	//Size the spacers if there is no scroll bar on the page
	if ((document.body.scrollHeight > document.body.clientHeight) == false) {
		//Select the content, header, footer, and spacer elements
		var spacer_top = document.getElementById("spacer_top");
		var spacer_bottom = document.getElementById("spacer_bottom");
		var content = document.getElementById("content");
		var header = document.getElementsByClassName("header")[0];
		var footer = document.getElementsByClassName("footer")[0];
		
		//get the visible height of all content displayed in pixels
		var visible_height = content.offsetHeight + header.offsetHeight + footer.offsetHeight;
		var spacer_top_height = Math.floor((window.innerHeight - visible_height)/2);
		var spacer_bottom_height = (spacer_top_height + ((window.innerHeight - visible_height) % 2));
		
		
		//Set the new spacer height
		//The -20 is arrived at through trial and error, I think some margin somewhere throws the number off, idk
		spacer_top.style.height = spacer_top_height - 20;
		spacer_bottom.style.height = spacer_bottom_height - 20;
	}
</script>
</html>