<html>
<head>
	{% block style %}
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Stint+Ultra+Expanded&display=swap" rel="stylesheet">
	{% endblock %}
	
	{% block extra_style %}
	{% endblock %}
	
	<title>{% block title %}BASE{% endblock %}</title>
</head>
<body>
	<!--Navigation Bar-->
	{% block header %}
	<section id="header">
        <div class="header">
            <div class="navbar">
                <img src="{% static 'images/glucochecklogo.png' %}" class="logo">
                <ul>
                    <li><a href="{% url 'homepage' %}">HOME</a></li>
                    <li><a href="#">DASHBOARD</a></li>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">CONTACT</a></li>
                    <li><a href="#">GETTING STARTED</a></li>
                    <li><a href="{% url 'login' %}">{{account_nav}}</a></li>
                </ul>
            </div>
        </div>
    </section>
	{% endblock %}
	
	<!--Content-->
	{% block content %}
	{% endblock %}
	
	
	<!--Footer-->
	{% block footer %}
	<section id="footer">
		<div class="container footer-row">
			<hr>
			<div class="footer-left-col">
				<div class="footer-links">
					<div class="link-title">
						<h4>Terms of Use</h4>
						<small>Cookie Policy</small><br>
						<small>HIPPA</small>
					</div>
					<div class="link-title">
						<h4>Contact</h4>
						<small>support@glucocheck.com</small><br>
						<small>Copyright © 2021 GlucoCheck</small>
					</div>
				</div>
			</div>
			<div class="footer-right-col">
				<div class="footer-info">
					<div class="copyright-text">
						<img src="{% static 'images/glucochecklogo.png' %}" class="footer-logo">
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endblock %}
</body>

</html>