<!DOCTYPE html>
<html lang="en">

<head>
	
	<meta charset="UTF-8">
	<title>GlucoCheck Website</title>
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Stint+Ultra+Expanded&display=swap" rel="stylesheet">
    
    
</head>
<body>
    <section id="header">
        <div class="header">
            <div class="navbar">
                <img src="images/glucochecklogo.png" class="logo">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">DASHBOARD</a></li>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">CONTACT</a></li>
                    <li><a href="#">GETTING STARTED</a></li>
                    <li><a href="#">LOG IN</a></li>
                </ul>
            </div>
            
            
    <div class="container">
    <div class="row">
    <div class="col-md-10 offset=md-1">
    <div class="row">
        <div class="col-md-5 register-left">
            <img src="images/arrow.png">
            <h3>You do not have an account yet?</h3>
            <p>Click below to create new account</p>
            <button type="button" class="btn btn-primary">SIGN UP</button>
        </div>
        <div class="col-md-7 register-right">
                <h2>LOG IN</h2>
                <div class="register-form">
                    <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username">
                    </div>
                    
                    <div class="form-group">
                    <input type="password1" class="form-control" placeholder="Password">
                    </div>
                    
                   
                    <button type="button" class="btn btn-primary">LOG IN</button>
                    
                </div>
        </div>
        
    </div>
        
    </div>
   
    </div>

    </div>
        </div>
            
    </section>
        
   
    
<section id="footer">
    <div class="container footer-row">
        <hr>
        <div class="footer-left-col">
            <div class="footer-links">
                <div class="link-title">
                    <h4>Terms of Use</h4>
                    <small>Cookie Policy</small><br>
                    <small>HIPPA</small>
                </div>
                <div class="link-title">
                    <h4>Contact</h4>
                    <small>support@glucocheck.com</small><br>
                    <small>Copyright © 2021 GlucoCheck</small>
                </div>
                
                
            </div>
        </div>
        <div class="footer-right-col">
            <div class="footer-info">
                <div class="copyright-text">
                    <img src="images/glucochecklogo.png" class="footer-logo">
                   
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    </section>

  
</body>
</html>