<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}">
	<title>Homepage</title>
</head>

<body>
	<!--Navigation Bar-->
	<div class="topnav">
		<p>GlucoCheck</p>
		<i>some slogan here w/ extra styling</i>
		<!--Nav Items-->
		<ul>
			<li><a href="#signin/up">{{username}}</a></li> <!--Either "Welcome username" or "Sign-In/Up" depending on if the user is signed in-->
			<li><a href="#dashboard">Dashboard</a></li>
			<li><a class="active" href="#home">Home</a></li>
		</ul>
	</div>
	
	<!--Page Content-->
	<div class="container">
		<div class="row">
			<div class="column-33">
				<img src="" alt="">
			</div>
			<div class="column-66">
				<h2>Visualization</h2>
				<p>And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization</p>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="column-66">
				<h2>Visualization</h2>
				<p>And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization</p>
			</div>
			<div class="column-33">
				<img src="" alt="">
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="column-33">
				<img src="" alt="">
			</div>
			<div class="column-66">
				<h2>Visualization</h2>
				<p>And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization</p>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="column-66">
				<h2>Visualization</h2>
				<p>And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization</p>
			</div>
			<div class="column-33">
				<img src="" alt="">
			</div>
		</div>
	</div>
	<!--End Page Content-->
	
	<!--Footer-->
	<div class="footer">
		<div class="column">
			<h2>Learn More</h2>
			<ul>
				<li><a href="#tutorial">Getting Started</a></li>
				<li><a href="#legal_disclaimer">Legal Disclaimer</a></li>
			</ul>
		</div>
		<div class="column">
			<h2>Contact Us</h2>
			<ul>
				<li><a href="#support">Customer Support</a></li>
				<li><a href="#bug_report">Report a Bug(will prob just be bundled with customer support)</a></li>
			</ul>
		</div>
		<p>GlucoCheck</p>
		<i>© 2021-2025 GlucoCheck Development Team and individual contributors. GlucoCheck is a registered trademark of the GlucoCheck Development Team.</i>
	</div>
	
</body>
</html>