{% extends "base/base.html" %}

{% block extra_style %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}">
{% endblock %}
{% block title %}Homepage{% endblock %}


<!--Page Content-->
{% block content %}
	<div class="container">
		<div class="row">
			<div class="column-33">
				<img src="" alt="">
			</div>
			<div class="column-66">
				<h2>Visualization</h2>
				<p>And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization</p>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="column-66">
				<h2>Visualization</h2>
				<p>And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization</p>
			</div>
			<div class="column-33">
				<img src="" alt="">
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="column-33">
				<img src="" alt="">
			</div>
			<div class="column-66">
				<h2>Visualization</h2>
				<p>And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization</p>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="column-66">
				<h2>Visualization</h2>
				<p>And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization, And here goes our write-up on the visualization</p>
			</div>
			<div class="column-33">
				<img src="" alt="">
			</div>
		</div>
	</div>
{% endblock %}
<!--End Page Content-->