/*Header*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.navbar{
    width: 70%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 200px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    position: relative;
    
    
}

.navbar ul li a{
    text-decoration: none;
    color: #262261;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

.navbar ul li::after{
    content: '';
    height: 1px;
    width: 0%;
    background: #8cc63e;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

/*------footer--------*/

#footer{
    padding: 50px 0 50px;
    margin-right: 80px;
    margin-left: 80px;
}
.container.footer-row hr{
    width: 100%;
    border: 0;
    border-top: 2px solid #262261;
}

.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left-col{
    flex-basis: 55%;
    font-size: 15px;
}

.footer-right-col{
    flex-basis: 0%;
    
}

.footer-logo{
    width: 200px;
    cursor: pointer;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-title h4 a{
    color: #fab3c4;
	text-decoration: none;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-title small{
    font-size: 16px;
    color:cornflowerblue;
}



