/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --nav-width: 92px;

  /*===== Colores =====*/
  --first-color: #fab3c4;
  --bg-color: #7069AF;
  --sub-color: #fff;
  --white-color: #FFF;
  
  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}


/* header */

.header{
  
  background: #fff;
  padding: 20px;
  width: 960px;
  height: 30px;
  position: fixed;
}

.logo{
    width: 200px;
    cursor: pointer;
    margin-top: -180px;
    margin-left: -100px;
   
}


/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
body{
  position: relative;
  margin: 0;
  padding: 2rem 0 0 6.75rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
  background-color: #FCF5F5;
}

body::-webkit-scrollbar {
  width: 0.40rem;
    height: 1.5rem;
}

body::-webkit-scrollbar-track {
  background: #fab3c4;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

h1{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}

/*===== l NAV =====*/
.l-navbar{
  margin-top: 60px;
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100%;
  background-color: var(--bg-color);
  color: var(--white-color);
  padding: 1.5rem 1.5rem 2rem;
  transition: .5s;
  z-index: var(--z-fixed);
}

/*===== NAV =====*/
.nav{
  height: 1000px;
  display: fixed;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav__brand{
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.nav__toggle{
  font-size: 1.25rem;
  padding: .75rem;
  cursor: pointer;
}


.nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: .75rem;
  padding: .75rem;
  color: var(--white-color);
  border-radius: .5rem;
  margin-bottom: 1rem;
  transition: .3s;
  cursor: pointer;
}

.nav__link:last-child{
    margin-top: 80px;
    color: #F0D22E;
}
.nav__link:hover{
  color: var(--first-color);
}
.nav__icon{
  font-size: 1.25rem;
}
.nav__name{
  font-size: var(--small-font-size);
}

/*Expander menu*/
.expander{
  width:  13.25rem;
}

/*Add padding body*/
.body-pd{
  padding: 2rem 0 0 14rem;
}



/*===== COLLAPSE =====*/
.collapse{
  grid-template-columns: 20px max-content 1fr;
}
.collapse__link{
  justify-self: flex-end;
  transition: .5s;
}
.collapse__menu{
  display: none;
  
  padding: .75rem 2.25rem;
}
.collapse__sublink{
  color: var(--sub-color);
  font-size: 12px;
}
.collapse__sublink:hover{
  color: var(--white-color);
}

/*Show collapse*/
.showCollapse{
  display: block;
    color: #fff;
}

/*Rotate icon*/
.rotate{
  transform: rotate(180deg);
}



/* griiid */
#main-dashboard-content {
  margin-left: 10px;
  box-sizing: border-box;
  height: 100%;
  padding: 20px 25px;
  
}

.input-box {
  display: flex;
  justify-content: space-between;
  width: 400px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  padding: 10px 25px;
  border-radius: 15px;
  
}

.input-box input {
  border: none;
  outline: none;
  width: 100%;
  background: none;
}

.input-box i {
  color: #7069AF;
}



#top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
   margin-top: 50px;
    padding-top: 5px;
}

#welcome-title {
  font-size: 20px;
  font-weight: lighter;
  margin: 15px 5px;
}

#grid-container {
    display: flex;
  display: grid;
  grid-template-columns: 75% auto;
  grid-gap: 25px;
}
.grid-item {
  height: 350px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  box-sizing: border-box;
  padding: 50px;
}

#reportrange{
    width: 150px;
    border-radius: 25px;
      box-sizing: border-box;
      padding: 10px;
    color: #7069AF;
    border: 0;
    margin-left: 300px;
    margin-top: 60px;
    text-align: center;
    
}

.circles{
  display: flex;
  width: 1000px;
  margin-left: 150px ;
  margin-top: 60px;
  
}

.grid-item.two h2{
  font-size: 18px;
  color:#7069AF ;
  font-family: 'Poppins';
	
}

.grid-item.two h4{
  font-size: 13px;
  color:#8CC63E ;
  font-family: 'Poppins';
	
}

/*===== footer =====*/


#footer{
    
    margin-right: 80px;
    margin-left: 80px;

}
.container.footer-row hr{
    width: 100%;
    border: 0;
    border-top: 1px solid #262261;
}

.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left-col{
    flex-basis: 55%;
    font-size: 15px;
}

.footer-right-col{
    flex-basis: 0%;
    
}

.footer-logo{
    width: 200px;
    cursor: pointer;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-title h4 a{
    color: #fab3c4;
	text-decoration: none;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-title h4{
    color: #fab3c4;
	text-decoration: none;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
	font-size: 18px;
}

.link-title small a {
    font-size: 15px;
	text-decoration: none;
    color:cornflowerblue;
    font-family: 'Quicksand', sans-serif;
}

.link-title small{
    font-size: 15px;
    text-decoration: none;
    color:cornflowerblue;
    font-family: 'Quicksand', sans-serif;
}



