<div class="container">
    <div class="row">
		<div class="col-md-10 offset=md-1">
			<div class="row">
				<div class="col-md-5 register-left">
					{% if additional_html %}
						{% include additional_html %}
					{% endif %}
				</div>
				<div class="col-md-7 register-right">
					<h2>{{form_title}}</h2>
					<form action="" method="post">
                    {% csrf_token %}
					<div class="register-form">
    
						{% for form in forms %}
							{% for field in form %}
								<div class="form-group">{{field}}</div>
							{% endfor %}
						{% endfor %}
						<input type="submit" class="btn btn-primary">{{submit_value}}</input>
						{% for form in forms %}
							{% for name, error in form.errors.items %}
								{{error}}
							{% endfor %}
						{% endfor %}
					</div>
                    </form>
				</div>
			</div>    
        </div>
    </div>
</div>