*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{

    background-color: #FCF5F5;
    
}
.container{
    
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.forms-container{

width: 100%;
height: 100%;
top: 0;
left: 0;
}


.register-left{
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #7069AF;
    padding: 20px;
    width: 500px;
    margin-top: -80px;
}

.register-left h2,.register-right h2{
    
    font-weight: 600;
}

.register-left .btn-primary{
    border: none;
    border-radius: 30px;
    width: 140px;
    background: #fab3c4;
    font-weight: 500;
    color: #fff;
    margin-top: 20px;
    padding: 10px;
}
.register-left .btn-primary:hover{
    background: #fab3c4;
    color: #7069AF;
}

.register-left img{
    margin-top: 80px;
    margin-bottom: 18px;
    margin-left: 0;
    width: 500px;

}
.register-left p{
    
    width: 600px;
    font-size: 20px;
    color: #7069AF;
    text-align: center;
}
.register-left p a{
    color: #fab3c4;
    text-decoration: none;
}

.register-right{
    position: relative;
    margin-top: 160px;
    margin-left: 600px; 
    width: 520px;
    border-radius: 25px;
    border: none;
    background: none;   
    padding: 10px;
    font-family: 'Nixie One', cursive;
}

.register-right h2{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #7069AF;
}

.register-right p{
    width: 600px;
    font-size: 20px;
    color: #7069AF;
}

.register-form{
    padding: 20px;
    
    
}


.register-right .btn-primary{
    float: right;
    border: none;
    border-radius: 1.5rem;
    width: 120px;
    background:  #7069AF;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
    padding: 10px;
}

.register-right .btn-primary:hover{
    color: #fab3c4;
    background:  #7069AF;
}

.register-right a{
    color: rgb(76, 0, 255)(145, 145, 145);
    text-decoration: none;
}
.register-right a:hover{
    color: #fab3c4;
    text-decoration: none;
}



/*Added CSS for dealing with the CheckBoxLink widget*/
.row .form-group {
	height: 38px;
}
/*Add padding to the icon column*/
.row .column {
	float: left;
}

/*Size the checkbox input*/
.row .column input[type=checkbox] {
	
	height: 20px;
	width: 20px;
	margin-top: 10px;
    margin-left: 20px;
}

/*Size and center the accompanying text for the CheckBoxLink widget*/
.row .column p {

	padding: 0;
	margin: 0;
	margin-top: 10px;
	margin-left: 10px;
}

.register-form .form-control{
    background: #dfdfea;
    border-radius: 30px;
    border: none;
} 

 .forgot{
    color: rgb(76, 0, 255)(145, 145, 145);
    
    font-size: 20px;
}
.forgot:hover{
    text-decoration: none;
    color: #fab3c4;
}