/*Center the content container*/
.center {
	box-sizing: border-box;
	margin: auto;
	width: 400px;
	padding: 20px;
	background-color: #DFEFC7;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*Icon sizing and coloring*/
.icon {
	box-sizing: border-box;
	width: 30px;
	padding: 8px;
	background-color: #652D90;
	fill: white;
}

/*Add padding to the icon column*/
.row .column {
	float: left;
	padding-right: 2px;
}

/*Add padding to rows*/
.row {
	padding-bottom: 5px;
}

/*Size input boxes*/
.row input {
	box-sizing: border-box;
	height: 32px;
	width: 320px;
}
/*Size select boxes*/
.row select {
	box-sizing: border-box;
	height: 32px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Align and color the form title*/
h3.no_icon {
	text-align: center;
	color: #652D90;
}

/*Align and color the input boxes*/
input.no_icon {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	color: white;
	background-color: #652D90;
}

/*Align additional content*/
p.no_icon {
	text-align: center;
}