.container{
    
    margin-top: 150px !important;
}

.register-left{
    text-align: center;
    color: #262261;
    padding: 30px;
}

.register-left p{
    
    padding: 20px 20px 0;
}

.register-left .btn-primary{
    border: none;
    border-radius: 1.5rem;
    width: 120px;
    background: #f8f8f8;
    font-weight: 600;
    color: #262261;
    margin-top: 20px;
    padding: 10px;
}
.register-left .btn-primary:hover{
    background: #fab3c4;
}

.register-left img{
    margin-top: 20px;
    margin-bottom: 18px;
    width: 80px;
    animation: mover 1s infinite alternate;
}


.register-right{
    margin-top: 30px;
    margin-left: 0px;
    width: 180px;
    height: 400px;
    border: none;
    background: linear-gradient(to right, #f9dce4, #c0e6ff);
    color: #262261;
    border-bottom-right-radius: 10% 50%;
    border-top-right-radius: 10% 50%;
    padding: 30px;
    font-family: 'Nixie One', cursive;
}
   
.register-right h2{
    text-align: center;
    margin-bottom: 20px;
    color: #262261;
}

.register-form{
    padding: 15px;
    
    
}


.register-right .btn-primary{
    float: right;
    border: none;
    border-radius: 1.5rem;
    width: 120px;
    background:  #c0e6ff;
    font-weight: 600;
    color: #262261;
    margin-top: 20px;
    padding: 10px;
}

.register-right .btn-primary:hover{
    background: #fab3c4;
}

@keyframes mover{
    0%{transform: translateY(0);}
    100%{transform: translateY(-20px);}
    
}

/*Add padding to the icon column*/
.row .column {
	float: left;
}

/*Size the checkbox input*/
.row .column input[type=checkbox] {
	box-sizing: border-box;
	height: 15px;
	width: 15px;
	margin-top: 8px;
}

/*Size and center the accompanying text for the CheckBoxLink widget*/
.row .column p {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	margin-top: 3px;
	margin-left: 10px;
}