*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{

    background-color: #FCF5F5;
    
}


.center {
	box-sizing: border-box;
	width: 400px;
	padding: 20px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	margin-bottom: 200px;
}

.center ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.center ul h3 {
	width: 300px;
	font-size: 24px;
	text-align: center;
	color: #7069AF;
}

.center ul p {
	width: 600px;
	font-size: 18px;
	color: black;
}