<!--Load footer CSS file-->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'footer/style.css' %}">

<!--Footer-->
<div class="footer">
	<div class="column">
		<h2>Learn More</h2>
		<ul>
			<li><a href="#tutorial">Getting Started</a></li>
			<li><a href="#legal_disclaimer">Legal Disclaimer</a></li>
		</ul>
	</div>
	<div class="column">
		<h2>Contact Us</h2>
		<ul>
			<li><a href="#support">Customer Support</a></li>
			<li><a href="#bug_report">Report a Bug(will prob just be bundled with customer support)</a></li>
		</ul>
	</div>
	<p>GlucoCheck</p>
	<i>© 2021-2025 GlucoCheck Development Team and individual contributors. GlucoCheck is a registered trademark of the GlucoCheck Development Team.</i>
</div>