{% spaceless %}
{% if wrap_elem.tag != None %}<{{wrap_elem.tag}}
{% for name, value in wrap_elem.attrs.items %}
    {% if value is not False %} {{ name }}
         {% if value is not True %}="{{ value }}"{% endif %}
    {% endif %} 
{% endfor %}>{% endif %}<input type="{{ widget.type }}"
          name="{{ widget.name }}"
	  {% if widget.value != None %}
	    value="{{ widget.value }}"
	  {% endif %}
	  {% include "django/forms/widgets/attrs.html" %} />{% if wrap_elem.tag != None %}</{{wrap_elem.tag}}>{% endif %}
{% if wrap_elem.tag != None %}<{{wrap_elem.tag}}
{% for name, value in wrap_elem.attrs.items %}
    {% if value is not False %} {{ name }}
         {% if value is not True %}="{{ value }}"{% endif %}
    {% endif %}
{% endfor %}>{% endif %}<p name="{{ text.name }}" 
{% for name, value in text.attrs.items %}
    {% if value is not False %} {{ name }}
         {% if value is not True %}="{{ value }}"{% endif %}
    {% endif %}
{% endfor %} >{{ text.value }}{% if link.attrs.href != None %}<a name="{{link.name}}"
{% for name, value in link.attrs.items %}
    {% if value is not False %} {{ name }}
         {% if value is not True %}="{{value}}"{% endif %}
    {% endif %}
{% endfor %} >{{ link.value }}</a>{% endif %}</p>{% if wrap_elem.tag != None %}</{{wrap_elem.tag}}>{% endif %}
{% endspaceless %}