<!--Load header CSS file-->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'header/style.css' %}">

<!--Navigation Bar-->
<div class="topnav">
	<p>GlucoCheck</p>
	<i>some slogan here w/ extra styling</i>
	<!--Nav Items-->
	<ul>
		{% if active == 'Authentication' %}
			<li><a class='active' href="/authentication">{{username}}</a></li> <!--Either "Welcome username" or "Sign-In/Up" depending on if the user is signed in-->
		{% else %}
			<li><a href="/authentication">{{username}}</a></li> <!--Either "Welcome username" or "Sign-In/Up" depending on if the user is signed in-->
		{% endif %}
		
		{% if active == 'Dashboard' %}
			<li><a class='active' href="/dashboard">Dashboard</a></li>
		{% else %}
			<li><a href="/dashboard">Dashboard</a></li>
		{% endif %}
		
		{% if active == 'Home' %}
			<li><a class="active" href="/">Home</a></li>
		{% else %}
			<li><a href="/">Home</a></li>
		{% endif %}
	</ul>
</div>